<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Bootswatch: Quartz</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!------------- CSS ------------->
    <!-- Import chessboard.js stylesheet -->
    <link href="{{ url_for('static', filename='/node_modules/@chrisoakman/chessboardjs/dist/chessboard-1.0.0.min.css') }}" rel="stylesheet" type="text/css">

    <!-- Import bootstrap and bootswatch stylesheet -->
    <link href="{{ url_for('static', filename='css/main.scss.css') }}" rel="stylesheet" type="text/css">

  </head>
  <body>
    <div class="d-flex justify-content-center mt-1 mb-2">
      <!-- Navigation Bar -->
      <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item" role="presentation">
          <a class="nav-link active" data-bs-toggle="tab" href="#play" aria-selected="true" role="tab">Play</a>
        </li>
        <li class="nav-item" role="presentation">
          <a class="nav-link" data-bs-toggle="tab" href="#configure" aria-selected="false" role="tab">Configure</a>
        </li>
        <li class="nav-item" role="presentation">
          <a class="nav-link" data-bs-toggle="tab" href="#visualize" aria-selected="false" role="tab">Visualize</a>
        </li>
      </ul>
    </div>

    <div id="navtabcontent" class="tab-content">
      <div class="tab-pane fade active show" id="play" role="tabpanel">
        <!-- Chessboard Card -->
        <div class="card ms-3 me-3">
          <div class="card-body d-flex justify-content-center">

            <!-- Start Game Button -->
            <div class="d-flex justify-content-center me-2">
              <button type="button" class="btn btn-success" id="startBtn" style="height: 100px">Start Game</button>
            </div>

            <!-- Chessboard -->
            <div id="board" style="width: 40vw"></div>

            <!-- Start Game Button -->
            <div class="d-flex justify-content-center ms-2">
              <button type="button" class="btn btn-primary" id="endBtn" style="height: 100px">End Game</button>
            </div>
          </div>
        </div>
      </div>

      <div class="tab-pane fade show" id="configure" role="tabpanel">
        <p>Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table craft beer twee. Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts ullamco ad vinyl cillum PBR. Homo nostrud organic, assumenda labore aesthetic magna delectus mollit.</p>
      </div>

      <div class="tab-pane fade show" id="visualize" role="tabpanel">
        <p>Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table craft beer twee. Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts ullamco ad vinyl cillum PBR. Homo nostrud organic, assumenda labore aesthetic magna delectus mollit.</p>
      </div>
    </div>

    <!------------- Javascript ------------->
    <!-- Import jQuery and Bootstrap JS -->
    <script src="{{ url_for('static', filename='/node_modules/jquery/dist/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js') }}"></script>

    <!-- Import Chessboard JS -->
    <script src="{{ url_for('static', filename='/node_modules/@chrisoakman/chessboardjs/dist/chessboard-1.0.0.min.js') }}"></script>

    <!-- Import SocketIO -->
    <script src="{{ url_for('static', filename='/node_modules/socket.io/client-dist/socket.io.min.js') }}"></script>

    <!-- Setup Board Javascript -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>
  </body>
</html>
